.card-content {
  display: flex;
  justify-content: center;
  margin: 12px;
  font-size: 12px;
  align-items: center;
}

.card-image img {
  border-radius: 5px;
  width: 125px;
  height: 168px;
  object-fit: cover;
  margin-right: 20px;
}

.card-stats {
  max-width: 370px;
  padding-top: 12px;
}

.card-header {
  font-size: 25px;
  font-weight: 700px;
  line-height: 1.5;
  margin-top: 4px;
  margin-bottom: 12px;
}

.card-location {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-location img {
  padding-right: 4px;
}

.card-link {
  color: #918e9b;
  padding-left: 12px;
}

.card-dates {
  font-weight: 700;
}

hr {
  max-width: 500px;
  border: 1px solid #f5f5f5;
  margin-top: 20px;
  margin-bottom: 20px;
}
